.header {
  background-image: url('../../assets/pexels-divinetechygirl-1181355.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.header-top {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
}

.header-logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.6); 
  padding: 10px 20px;
  border-radius: 5px;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 30px; 
}

h1 {
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0;
}

.header-description {
  background: rgba(0, 0, 0, 0.6); 
  padding: 10px 20px;
  border-radius: 5px;
  max-width: 700px;
  margin: 10px 0;
}

.header-search-container {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
}

.header-search {
  width: 400px;
  margin: 0 10px;
  input {
    color: white;
  }
}
